.App {
  text-align: center;
}

.content {
  margin-left: 60px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.sidebar-container:hover + .content {
  margin-left: 200px; 
}

